<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LeBonCoin{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <header>

        <a href="{{ path('homepage') }}">
            <img src="Image/logoLBC.PNG" width="10%" height="10%">
        </a>
    </header>
    <div class="traitOrange"></div>
    <div class="dégradé">
        <body>

            {% block body %}
            {% endblock %}
            {% block javascripts %}
            {% endblock %}
        </body>
    </div>
    <footer></footer>
</html>